annotated-types==0.6.0 ; python_version >= "3.10"
attrs==23.2.0 ; python_version >= "3.10"
boto3==1.34.71 ; python_version >= "3.10"
botocore==1.34.71 ; python_version >= "3.10"
cffi==1.16.0 ; platform_python_implementation != "PyPy" and python_version >= "3.10"
charset-normalizer==3.3.2 ; python_version >= "3.10"
cryptography==42.0.5 ; python_version >= "3.10"
jmespath==1.0.1 ; python_version >= "3.10"
jsonschema-specifications==2023.12.1 ; python_version >= "3.10"
jsonschema==4.21.1 ; python_version >= "3.10"
numpy==1.26.4 ; python_version >= "3.10"
pdfminer-six==20231228 ; python_version >= "3.10"
pdfplumber==0.11.0 ; python_version >= "3.10"
pillow==10.3.0 ; python_version >= "3.10"
pyarrow==15.0.2 ; python_version >= "3.10"
pycparser==2.21 ; python_version >= "3.10" and platform_python_implementation != "PyPy"
pydantic-core==2.16.3 ; python_version >= "3.10"
pydantic==2.6.4 ; python_version >= "3.10"
pypdfium2==4.28.0 ; python_version >= "3.10"
python-dateutil==2.9.0.post0 ; python_version >= "3.10"
referencing==0.34.0 ; python_version >= "3.10"
rpds-py==0.18.0 ; python_version >= "3.10"
s3transfer==0.10.1 ; python_version >= "3.10"
six==1.16.0 ; python_version >= "3.10"
typing-extensions==4.10.0 ; python_version >= "3.10"
urllib3==2.2.1 ; python_version >= "3.10"