annotated-types==0.7.0 ; python_version >= "3.11"
attrs==24.2.0 ; python_version >= "3.11"
cffi==1.17.1 ; platform_python_implementation != "PyPy" and python_version >= "3.11"
charset-normalizer==3.3.2 ; python_version >= "3.11"
cramjam==2.8.4 ; python_version >= "3.11"
cryptography==43.0.1 ; python_version >= "3.11"
fastparquet==2024.5.0 ; python_version >= "3.11"
fsspec==2024.9.0 ; python_version >= "3.11"
jsonschema-specifications==2023.12.1 ; python_version >= "3.11"
jsonschema==4.23.0 ; python_version >= "3.11"
numpy==2.1.1 ; python_version >= "3.11"
packaging==24.1 ; python_version >= "3.11"
pandas==2.2.3 ; python_version >= "3.11"
pdfminer-six==20231228 ; python_version >= "3.11"
pdfplumber==0.11.4 ; python_version >= "3.11"
pillow==10.4.0 ; python_version >= "3.11"
pycparser==2.22 ; platform_python_implementation != "PyPy" and python_version >= "3.11"
pydantic-core==2.23.4 ; python_version >= "3.11"
pydantic==2.9.2 ; python_version >= "3.11"
pypdfium2==4.30.0 ; python_version >= "3.11"
python-dateutil==2.9.0.post0 ; python_version >= "3.11"
pytz==2024.2 ; python_version >= "3.11"
referencing==0.35.1 ; python_version >= "3.11"
rpds-py==0.20.0 ; python_version >= "3.11"
six==1.16.0 ; python_version >= "3.11"
typing-extensions==4.12.2 ; python_version >= "3.11"
tzdata==2024.2 ; python_version >= "3.11"
